form.password-change-form {
  .form-group {
    flex-direction: column;
    align-items: flex-start !important;

    label {
      min-width: 135px !important;
      margin-bottom: 4px !important;
    }
  }
}
