@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

#header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  .header--top {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f4f4f4;

    .header--top__left {
      font-size: 14px;
      color: #666;

      span > i {
        color: #ff2832;
        padding: 5.5px 0;
      }
    }

    .header--top__right {
      text-align: right;

      ul {
        li {
          display: inline-block;

          a {
            font-size: 15px;
            display: block;
            color: #888;
            font-family: "Lato", sans-serif;
            line-height: 16px;
          }

          &:first-child {
            a {
              padding-right: 15px;
              border-right: 1px solid #d1d1d1;
            }
          }

          &:last-child {
            padding-left: 15px;
          }

          &.header--top__right__styless {
            a {
              padding: 0;
              border: none;
            }

            .dropdown {
              position: relative;
              cursor: pointer;

              .dropdown--content {
                position: absolute;
                z-index: 3;
                top: 25px;
                border-radius: 4px;
                padding: 5px;
                background-color: #ff2832;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                  rgba(0, 0, 0, 0.24) 0px 1px 2px;
                width: 140px;
                right: 0;
                opacity: 0;
                transform: scale(0);
                transition: all 0.3s;

                a {
                  text-align: left;
                  padding: 7px 10px;
                  color: #fff;
                  font-weight: 700;
                }

                &::after {
                  position: absolute;
                  content: "";
                  top: -8px;
                  right: 10px;
                  width: 10px;
                  height: 10px;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-bottom: 13px solid #ff2832;
                  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                }
              }

              &:hover {
                .dropdown--content {
                  opacity: 1;
                  transform: scale(1);
                }
              }
            }
          }
        }
      }
    }
  }

  .header--middle {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff2832;

    .header--middle__logo {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      a {
        display: inline-block;
        color: #fff;
        font-family: "Berkshire Swash", cursive;
        font-size: 33px;

        i.fas.fa-square-full {
          font-size: 8px;
          display: inline-block;
          margin-left: 4px;
        }
      }
    }

    .header--middle__option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;

      .login {
        cursor: pointer;

        .login__content {
          position: relative;
          width: 170px;
          height: 60px;

          .login__content__dropdown {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            width: 180%;
            height: auto;
            padding: 16px;
            z-index: 1;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            display: none;

            a {
              display: block;
              width: 100%;
              border: none;
              margin-bottom: 14px;
              padding: 12px 0;
              background: #f08804;
              font-size: 15px;
              text-align: center;
              color: #fff;

              &:last-child {
                margin-bottom: 0;
              }
            }

            &::after {
              content: "";
              position: absolute;
              border-top: 14px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 14px solid #fff;
              border-left: 10px solid transparent;
              top: -24px;
              left: 50%;
              transform: translateX(-50%);
            }

            &.signedin {
              a {
                background: none;
                padding: 8px 5px 8px 20px;
                text-align: left;
                margin: 0;
                color: rgba(0, 0, 0, 0.7);

                &:hover {
                  background: red;
                  border-radius: 2px;
                  background: #f5f5f5;
                }
              }
            }
          }

          &:hover {
            .login__content__dropdown {
              display: block;
            }
          }
        }

        img {
          width: 35px;
          margin-right: 8px;
        }

        .text {
          div {
            font-size: 13px;
            color: #fff;
            // font-family: "Lato", sans-serif;

            &:last-child {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }

      .cart {
        cursor: pointer;
        position: relative;

        &:hover {
          .dropdown {
            display: block;
          }
        }

        &:hover {
          .dropdown.empty {
            display: inline-flex;
          }
        }

        .dropdown {
          position: absolute;
          right: 0;
          background: #fff;
          top: 50px;
          width: 460px;
          // padding: 10px;
          z-index: 1;
          border-radius: 2px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          display: none;

          &.empty {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 240px;
            display: none;

            img {
              width: 90px;
              margin-bottom: 20px;
            }
          }

          .dropdown__title {
            font-size: 15px;
            color: rgba(0, 0, 0, 0.25);
            padding-left: 14px;
            padding-top: 14px;
          }

          .items {
            margin-top: 16px;

            .item {
              display: flex;
              // justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
              padding: 2px 10px;

              &:hover {
                background: rgba(0, 0, 0, 0.03);
              }

              .item__img {
                width: 38px;
                height: 45px;
                margin-right: 14px;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }

              .item__name {
                max-width: 300px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.8);
              }

              .item__price {
                font-size: 15px;
                color: #ff2832;
                flex-grow: 2;
                text-align: right;
              }
            }
          }

          .dropdown__btn {
            text-align: right;
            margin: 10px;

            a {
              display: inline-block;
              border: none;
              font-size: 15px;
              padding: 6px 24px;
              color: #fff;
              background: #ff2832;
              border-radius: 2px;
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
              font-weight: 500;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: -25px;
            right: 36px;
            border-top: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 12px solid #fff;
            border-left: 14px solid transparent;
          }
        }

        img {
          width: 38px;
        }
        span {
          margin-left: 5px;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
        }

        .cart__number {
          position: absolute;
          width: 18px;
          height: 18px;
          background: #fff;
          color: #ff2832;
          text-align: center;
          line-height: 18px;
          font-size: 13px;
          border-radius: 30px;
          top: 0px;
          left: 19px;
        }
      }
    }
  }

  .header--bottom {
    // background-color: #444;
    background: #ff2832;

    .header--bottom__menu {
      text-align: center;

      ul {
        li {
          display: inline-block;

          a {
            display: block;
            padding: 11px 23px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            border-right: 1px solid transparent;
            // font-family: "Lato", sans-serif;
            font-size: 14px;

            // &:hover {
            //   background-color: #555;
            // }

            .fa-home {
              font-size: 16px;
            }
          }

          &.active {
            a {
              background-color: #fff;
              color: #ff2832;
            }
          }
        }
      }
    }
  }

  .header--bottom.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
}
