@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
// font-family: 'Lato', sans-serif;
#order-history {
  background-color: #efefef;
  padding-bottom: 80px;

  .order-history__title {
    font-size: 19px;
    font-weight: 300;
    padding: 28px 0 15px;
  }

  .order-history__table {
    background-color: #fff;
    min-height: 471px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

    table {
      width: 100%;

      th,
      td {
        padding: 20px 18px;
        border-bottom: 1px solid rgb(244, 244, 244);
      }

      th {
        color: #777;
        font-weight: 400;
      }

      td {
        font-size: 15px;
        font-family: "Lato", sans-serif;
      }

      thead {
        th.order__date {
          width: 14%;
        }

        th.order__code {
          width: 23%;
        }

        th.order__product {
          width: 38%;
        }

        th.order__total {
          width: 12%;
        }
      }

      tbody {
        td {
          a {
            color: rgb(0, 127, 240);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
