.paginations {
  // background: #ececec;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 26px;

  ul {
    list-style: none;
    padding: 6px 5px;
    display: inline-block;
    background: #ff2832;
    border-radius: 4px;

    li {
      display: inline-block;

      button {
        width: 22px;
        height: 22px;
        border: none;
        background: none;
        color: #fff;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;

        &:hover {
          background: rgba(255, 255, 255, 0.5);
        }
      }

      &.active {
        button {
          background: #fff;
          color: #aaa;
          border-radius: 2px;
        }
      }

      &:last-child {
        button {
          margin-right: 0;
        }
      }
    }
  }
}
