@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
// font-family: 'Lato', sans-serif;
.profile {
  padding-top: 20px;
  background-color: #efefef;
  padding-bottom: 80px;
  min-height: 80vh;

  .left-title {
    display: flex;
    margin-bottom: 20px;

    .left-title__text__1 {
      font-size: 13px;
      font-family: "Lato", sans-serif;
    }

    .left-title__text__2 {
      font-size: 16px;
      font-weight: 400;
      font-family: "Lato", sans-serif;
    }

    img {
      width: 45px;
      border-radius: 50%;
      margin-right: 12px;
    }
  }

  .left-links {
    ul {
      list-style: none;

      li {
        a {
          display: inline-block;
          padding: 12px;
          color: rgb(74, 74, 74);
          font-size: 15px;
          margin-bottom: 13px;
          font-family: "Lato", sans-serif;

          &.active {
            background-color: #ddd;
            border-radius: 4px;
          }

          span {
            .fas {
              margin-right: 16px;
              color: #999;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .right-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 64px;
  }

  .right-content {
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 468px;

    form {
      width: 600px;

      .form-group {
        display: flex;
        align-items: center;
        margin: 0px 0px 20px;

        label {
          width: 110px;
          min-width: 110px;
          font-size: 14px;
          color: rgb(51, 51, 51);
          margin-bottom: 0;
        }

        input,
        textarea {
          font-size: 14px;
        }

        input {
          height: 45px;
        }

        textarea {
          height: 140px !important;
        }

        button {
          border: 0px;
          width: 176px;
          padding: 14px;
          border-radius: 2px;
          color: rgba(0, 0, 0, 0.7);
          font-size: 15px;
          background-color: #fdd835;
          font-weight: 400;
          cursor: pointer;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);

          &:hover {
            background: #f5c33b;
            box-shadow: none;
          }
        }
      }
    }
  }

  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    width: 490px;
    border-color: #f5c6cb;
    margin-left: auto;
  }
}
