.search__title {
  position: relative;
  top: 60px;

  h4 {
    font-size: 18px;

    img {
      width: 20px;
      margin-right: 10px;
    }

    span {
      margin-left: 10px;
      color: #e83e8c;
    }
  }
}
